@tailwind base;
@tailwind components;
@tailwind utilities;

.map-container {
  height: 700px !important;
  width: 700px !important;
}

.draw-tools {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.sidebar {
  background-color: rgb(35 55 75 / 90%);
  color: #fff;
  padding: 6px 12px;
  font-family: monospace;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  margin: 12px;
  border-radius: 4px;
}

/* .mapboxgl-ctrl-top-right {
  top: 60px !important;
  position: fixed !important;
} */
